/* GENERELT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --front_p_color: #ffe2d0;
  --om_color: #dbe7ec;
  --kontakt_color: #a4ffd4;
  --projekt_color: #e9e5cd;

  --paragraph: 0.8rem;
  --heading1: 1.5rem;
  --heading2: 1rem;
  --menu: 1.2rem;
}

img {
  width: 100%;
}

h1,
h2,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: #151515;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: var(--menu);
}

section {
  padding: 60px 10px 10px 10px;
  min-height: calc(100vh - 15px);
  max-width: 500px;
  margin: 0 auto;
}

/* HEADER */

#logo {
  font-size: var(--heading1);
  font-style: italic;
}

header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 50px;
  background-color: transparent;
  transition: all 0.8s;
}

#mobile_header {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
}

#menu {
  position: absolute;
  top: 0;
  transform-origin: top left;
  width: 100%;
  height: 100vh;
  transition: all 0.7s cubic-bezier(0.65, 0.01, 0.29, 0.99);
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 80px 10px 20px 10px;
}

#front_header #menu {
  background-color: rgba(255, 226, 208, 0.9);
}

#front_header {
  background-color: rgba(255, 226, 208, 1);
}

#kontakt_header #menu {
  background-color: rgba(164, 255, 212, 0.9);
}

#kontakt_header {
  background-color: rgba(164, 255, 212, 1);
}

#om_header #menu {
  background-color: rgba(219, 231, 236, 0.9);
}

#om_header {
  background-color: rgba(219, 231, 236, 1);
}

#projekt_header #menu {
  background-color: rgba(233, 229, 205, 0.9);
}

#projekt_header {
  background-color: rgba(233, 229, 205, 1);
}

#menu a {
  margin: 0 0 10px 0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

#menu.hidden {
  transform: translateX(100%);
}

/* BURGER_BTN */
.menu_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
}

.menu_btn_burger {
  width: 40px;
  height: 3px;
  background: #151515;
  transition: all 0.2s ease-in-out;
}

.menu_btn_burger:before,
.menu_btn_burger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #151515;
  transition: all 0.3s ease-in-out;
}

.menu_btn_burger::before {
  transform: translateY(-10px);
}

.menu_btn_burger::after {
  transform: translateY(10px);
}

.menu_btn.open .menu_btn_burger {
  background: transparent;
}

.menu_btn.open .menu_btn_burger:before {
  transform: rotate(45deg);
}

.menu_btn.open .menu_btn_burger:after {
  transform: rotate(-45deg);
}

/* FORSIDE */

#frontpage_color {
  background-color: var(--front_p_color);
}

#projects_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prj_heading {
  font-size: var(--heading1);
  margin: 0 0 5px 0;
}

.prj_sub_heading {
  font-size: var(--heading2);
}

.project_container {
  margin: 60px 0px 0px 0px;
  cursor: pointer;
}

.project_container h1,
.project_container h2 {
  text-align: center;
}

/* KONTAKT */
#kontakt_color {
  background-color: var(--kontakt_color);
}

#kontakt_container {
  margin: 60px 0 0 0;
}

#kontakt_container p {
  font-weight: 700;
  font-size: var(--heading1);
  text-align: center;
}
#kontakt_container h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* INFO */
#info_color {
  background-color: var(--om_color);
}

#info_text {
  margin-top: 20px;
}
#info_text p {
  line-height: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: var(--heading2);
}

/* PROJECTS */

#projekt_color {
  background-color: var(--projekt_color);
}

#projects_header {
  background-color: var(--projekt_color);
}

#projects_section h1 {
  font-size: var(--heading1);
  margin: 0 0 10px 0;
  grid-area: header;
}
#projects_section h2 {
  font-size: var(--heading2);
  margin: 0 0 10px 0;
  grid-area: sub_header;
}

#projects_section p {
  font-size: var(--paragraph);
  line-height: 1.4rem;
  margin: 0 0 10px 0;
  grid-area: paragraph;
}

#projects_section img {
  margin: 0 0 10px 0;
  grid-area: image;
}
#projects_section .audio_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  grid-area: player;
}

#projects_section .justify {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-area: link;
  max-height: 50px;
}

#projects_section a {
  text-align: center;
  font-size: var(--heading2);
  border: 2px solid #7d50df;
  border-radius: 10px;
  color: #7d50df;
  font-weight: 400;
  padding: 13px 20px;
  justify-self: center;
}

#projects_container {
  display: grid;
  grid-template-areas: "header" "sub_header" "image" "player" "paragraph" "link";
}

/* FOOTER */
footer {
  text-align: center;
  font-size: var(--paragraph);
  opacity: 0.7;
}

@media only screen and (min-width: 370px) {
  :root {
    --paragraph: 0.9rem;
  }

  section {
    min-height: calc(100vh - 18px);
  }
}

@media only screen and (min-width: 800px) {
  /* GENERAL */

  #logo {
    font-size: 2.5rem;
  }

  section {
    padding: 100px 10px 10px 10px;
    max-width: 1200px;
  }

  :root {
    --front_p_color: #ffe2d0;
    --om_color: #dbe7ec;
    --kontakt_color: #a4ffd4;
    --projekt_color: #e9e5cd;

    --paragraph: 1rem;
    --heading1: 2rem;
    --heading2: 1.5rem;
    --menu: 1.2rem;
  }

  /* HEADER */

  #mobile_header {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* PROJECTS */

  #projects_container {
    grid-template-areas: "header none" "sub_header none" "paragraph image" "link player";
    grid-template-columns: 1fr 1fr;
  }

  #projects_container a {
    font-size: 1rem;
    height: fit-content;
  }

  #projects_container p {
    margin: 0 auto 20px auto;
    max-width: 500px;
  }

  #projects_container h1 {
    max-width: 500px;
    margin: 0 auto 10px auto;
    text-align: center;
  }
  #projects_container h2 {
    margin: 0 auto 20px auto;
    max-width: 500px;
    text-align: center;
  }
  #projects_container .justify {
    margin: 0 auto;
    max-width: 500px;
  }

  #projects_container img {
    max-width: 70%;
    margin: 0 auto 10px auto;
  }

  /* INFO */

  #info_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info_text p {
    line-height: 1.6rem;
  }

  #info_section .img_container {
    display: flex;
    justify-content: center;
  }

  #info_section img {
    width: 65%;
  }
}
